<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Wine prediction</title>
</head>
<style>
    body {cursor:default;} 
</style>
<body>
    
    <div>
        {%if error is defined%}
        <h2>Error! Previous Wrong Input! Try again..!</h2>
        {% endif %}
        {% if data is not defined %}
        <div id= "Input">
        <form action="/wine" method="post">
            <input type="text" name="alcohol"> Alcohol(8~15)</input>
            <br>
            <input type="text" name="pH"> pH(2.5~4.5)</input>
            <br>
            <input type="text" name="sulphates"> Sulphates(0~2)</input>
            <br>
            <input type="radio" name="wine" value="red">Red Wine</input>
            <input type="radio" name="wine" value="white">White Wine</input>
            <input type="submit" value="submit"/>
        </form>
        {% endif %}
        </div>
        <div id="display">
            {% if data is defined %}
                <h4>The expected value is {{data}}</h4>
                <button type="button" onclick="location.href='/'">Go back</button>
	        {% endif %}
        </div>
        
    </div>
    <script> 
        /*
        $.ajax({
            type:'get',
            url:'/wine',
            data:{},
            success: (data)=>{
                let resultDiv = document.createElement("div");
                let winedata = document.createTextNode(data['score']);
                resultDiv.appendChild(winedata);

                let loc = document.getElementById('display');
                loc.body.innnerHTML+=resultDiv;
            }
        })
        */
    </script>

</body>
</html>