<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Wine prediction</title>
</head>
<style>
    body {cursor:default;} 
</style>
<body>
    
    <div>
        {%if error is defined%}
        <h2>Error! Previous Wrong Input! Try again..!</h2>
        {% endif %}
        {% if data is not defined %}
        <div id= "Input">
        <form action="/wine" method="post">
            <input type="radio" id="radiobtn" name="wine" value="red" onclick="redcheck()">Red Wine</input>
            <input type="radio" id="radiobtn" name="wine" value="white" onclick="whitecheck()">White Wine</input>
            <br>
            <input type="text" name="alcohol"> Alcohol(8~15)</input>
            <br>
            <div id= "red" style="display:none">
            <input type="text" name="pH"> pH(2.5~4.5)</input>
            <br>
            <input type="text" name="sulphates"> Sulphates(0~2)</input>
            <br>
            </div>
            <div id="white" style="display:none">
            <input type="text" name="density"> Density</input>
            <br>
            <input type="text" name="chlorides">chlorides</input>
            <br>
            </div>
            <div id="dynamic" style="display:none">
                <input type='submit'></input>
            </div>
        </form>
        {% endif %}
        </div>
        <div id="display">
            {% if data is defined %}
                <h4>The expected value is {{data}}</h4>
                <button type="button" onclick="location.href='/'">Go back</button>
	        {% endif %}
        </div>
        
    </div>
    <script>
        function redcheck(){
            document.getElementById("dynamic").style.display = "block";
            document.getElementById("red").style.display ="block";
            document.getElementById("white").style.display ="none";
        }
        function whitecheck(){
            document.getElementById("dynamic").style.display = "block";
            document.getElementById("red").style.display ="none";
            document.getElementById("white").style.display ="block";
        }   
         </script>
        
    </script>

</body>
</html>